package %PACKAGE%;

import com.vaadin.Application;
import com.vaadin.ui.*;

public class %APPLICATION_NAME% extends Application{
	
	@Override
	public void init(){
		Window mainWindow = new Window("%APPLICATION_NAME%");
		setMainWindow(mainWindow);
		
		Label label = new Label("Hello Vaadin user");
		mainWindow.addComponent(label);
	}
}

