package ${componentClientPackage};

import com.google.gwt.user.client.ui.Label;

/**
 * Client side widget. Can extend any GWT widget.
 */
public class ${componentName}Widget extends Label {

	// Style name used for theming
    public static final String CLASSNAME = "${componentStylename}";

    public ${componentName}Widget() {
        setStyleName(CLASSNAME);
    	setText("It works!");
    }
}