package %PACKAGE%;

import javax.servlet.annotation.WebInitParam;
import javax.servlet.annotation.WebServlet;
import com.vaadin.server.VaadinServlet;

@WebServlet(
    urlPatterns={"/*","/VAADIN/*"},
    initParams={
        @WebInitParam(name="ui", value="%PACKAGE%.%APPLICATION_NAME%UI")%WIDGETSETPARAM%
    })
public class %APPLICATION_NAME%Servlet extends VaadinServlet { }
