@import "addons.scss";
@import "%THEME_IMPORT_FILE%";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in %THEME_IMPORT_FILE% */
.%THEME% {
  @include addons;
  @include %THEME%;
}
