@import "${themeImport}";
@import "addons.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in ${themeImport} */
.${themeName} {
  @include addons;
  @include ${theme};
}
