package ${applicationPackage}

import javax.servlet.annotation.WebInitParam
import javax.servlet.annotation.WebServlet

@WebServlet(
        asyncSupported = ${asyncEnabled},
        urlPatterns = arrayOf("/*", "/VAADIN/*"),
        initParams = arrayOf(
           <% print initParams.collect({ name, value ->
                       "WebInitParam(name=\"${name}\", value=\"${value}\")"
            }).join(',\n\t') %>
        ))
class ${applicationName}Servlet : com.vaadin.server.VaadinServlet()
