package ${applicationPackage}

import com.vaadin.server.VaadinRequest
import com.vaadin.ui.UI
import com.vaadin.ui.Label
<% imports.each { pkg -> println "import $pkg" } %>
<% annotations.each { annotation -> println "@${annotation}" } %>class ${applicationName}UI : UI() {

    override fun init(request: VaadinRequest) {
        val lbl = Label("Hello vaadin")
        content = lbl
    }
}
